.version.ty_t /* version checker */
{
	color: #000019;
	background-color: #CC4F2F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 779px;
	min-height: 454.6942446043166px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 45px 130px 0px 51px;
}

#u327
{
	z-index: 2;
	width: 518px;
	margin-left: 170px;
}

#menuu124
{
	z-index: 29;
	width: 459px;
	margin-left: 205px;
	margin-top: 7px;
}

#u165
{
	width: 99px;
	min-height: 34px;
	margin-right: -10000px;
}

#u166
{
	width: 99px;
	padding-bottom: 12px;
}

#u166:hover
{
	margin: 0px;
}

#u166:active
{
	margin: 0px;
}

#u168-4
{
	width: 62px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u166:hover #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u166:active #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u132
{
	width: 109px;
	min-height: 34px;
	margin-right: -10000px;
	left: 101px;
}

#u135
{
	width: 109px;
	padding-bottom: 12px;
}

#u166.MuseMenuActive,#u135:hover
{
	margin: 0px;
}

#u135:active
{
	margin: 0px;
}

#u137-4
{
	width: 72px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u166.MuseMenuActive #u168-4,#u135:hover #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u135:active #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u146
{
	width: 66px;
	min-height: 34px;
	margin-right: -10000px;
	left: 212px;
}

#u147
{
	width: 66px;
	padding-bottom: 12px;
}

#u135.MuseMenuActive,#u147:hover
{
	margin: 0px;
}

#u147:active
{
	margin: 0px;
}

#u150-4
{
	width: 29px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u135.MuseMenuActive #u137-4,#u147:hover #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u147:active #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u139
{
	width: 73px;
	min-height: 34px;
	margin-right: -10000px;
	left: 280px;
}

#u142
{
	width: 73px;
	padding-bottom: 12px;
}

#u147.MuseMenuActive,#u142:hover
{
	margin: 0px;
}

#u142:active
{
	margin: 0px;
}

#u144-4
{
	width: 36px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u147.MuseMenuActive #u150-4,#u142:hover #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u142:active #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u125
{
	width: 104px;
	min-height: 34px;
	margin-right: -10000px;
	left: 355px;
}

#u126
{
	width: 104px;
	padding-bottom: 12px;
}

#u142.MuseMenuActive,#u126:hover
{
	margin: 0px;
}

#u126:active
{
	margin: 0px;
}

#u126.MuseMenuActive
{
	margin: 0px;
}

#u128-4
{
	width: 68px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u142.MuseMenuActive #u144-4,#u126:hover #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u126:active #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u126.MuseMenuActive #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#ppu2146-4
{
	width: 0.01px;
	margin-top: 35px;
}

#pu2146-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 432px;
}

#u2146-4
{
	z-index: 11;
	width: 93px;
	min-height: 59px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #70706F;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 166px;
}

#u2146-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 59px;
	margin: 72px -10000px 0px 0px;
}

#u2146-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 59px;
	margin: 72px -10000px 0px 0px;
}

#u2146-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2158
{
	z-index: 25;
	width: 208px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2145-4
{
	z-index: 7;
	width: 205px;
	min-height: 31px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #70706F;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 162px;
}

#u2145-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 72px -10000px 0px 0px;
}

#u2145-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 72px -10000px 0px 0px;
}

#u2145-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2155
{
	z-index: 23;
	width: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u2155_img
{
	padding-right: 1px;
}

#ppu2046
{
	width: 0.01px;
	margin-left: 107px;
	margin-top: 10px;
}

#pu2046
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 435px;
}

#u2046
{
	z-index: 5;
	width: 208px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2147-4
{
	z-index: 15;
	width: 73px;
	min-height: 73px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #70706F;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 164px;
}

#u2147-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 73px;
	margin: 74px -10000px 0px 0px;
}

#u2147-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2148-4
{
	z-index: 19;
	width: 139px;
	min-height: 73px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #70706F;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 168px;
}

#u2147-4:active,#u2148-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 73px;
	margin: 74px -10000px 0px 0px;
}

#u2148-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 73px;
	margin: 74px -10000px 0px 0px;
}

#u2148-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2146-4:active p,#u2145-4:active p,#u2147-4:active p,#u2148-4:active p
{
	color: #F7DC1E;
	visibility: inherit;
}

#u2161
{
	z-index: 27;
	width: 210px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2046_img,#u2161_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u2377
{
	z-index: 4;
	width: 200px;
	min-height: 100px;
	margin-left: 320px;
	margin-top: 25px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

