.version.valovirta /* version checker */
{
	color: #000014;
	background-color: #243DCE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 781px;
	min-height: 393px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 45px 130px 62px 49px;
}

#u327
{
	z-index: 2;
	width: 518px;
	margin-left: 172px;
}

#menuu124
{
	z-index: 58;
	width: 459px;
	margin-left: 207px;
	margin-top: 7px;
}

#u165
{
	width: 99px;
	min-height: 34px;
	margin-right: -10000px;
}

#u166
{
	width: 99px;
	padding-bottom: 12px;
}

#u166:hover
{
	margin: 0px;
}

#u166:active
{
	margin: 0px;
}

#u168-4
{
	width: 62px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u166:hover #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u166:active #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u132
{
	width: 109px;
	min-height: 34px;
	margin-right: -10000px;
	left: 101px;
}

#u135
{
	width: 109px;
	padding-bottom: 12px;
}

#u166.MuseMenuActive,#u135:hover
{
	margin: 0px;
}

#u135:active
{
	margin: 0px;
}

#u137-4
{
	width: 72px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u166.MuseMenuActive #u168-4,#u135:hover #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u135:active #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u146
{
	width: 66px;
	min-height: 34px;
	margin-right: -10000px;
	left: 212px;
}

#u147
{
	width: 66px;
	padding-bottom: 12px;
}

#u135.MuseMenuActive,#u147:hover
{
	margin: 0px;
}

#u147:active
{
	margin: 0px;
}

#u150-4
{
	width: 29px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u135.MuseMenuActive #u137-4,#u147:hover #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u147:active #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u139
{
	width: 73px;
	min-height: 34px;
	margin-right: -10000px;
	left: 280px;
}

#u142
{
	width: 73px;
	padding-bottom: 12px;
}

#u147.MuseMenuActive,#u142:hover
{
	margin: 0px;
}

#u142:active
{
	margin: 0px;
}

#u144-4
{
	width: 36px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u147.MuseMenuActive #u150-4,#u142:hover #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u142:active #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u125
{
	width: 104px;
	min-height: 34px;
	margin-right: -10000px;
	left: 355px;
}

#u126
{
	width: 104px;
	padding-bottom: 12px;
}

#u142.MuseMenuActive,#u126:hover
{
	margin: 0px;
}

#u126:active
{
	margin: 0px;
}

#u126.MuseMenuActive
{
	margin: 0px;
}

#u128-4
{
	width: 68px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u142.MuseMenuActive #u144-4,#u126:hover #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u126:active #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u126.MuseMenuActive #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#pppu642
{
	width: 0.01px;
	margin-top: 35px;
}

#ppu642
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#pu642
{
	width: 0.01px;
	margin-left: 3px;
}

#u642
{
	z-index: 5;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 108px;
}

#u644
{
	z-index: 7;
	width: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u644_img
{
	padding-right: 1px;
}

#pu648
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 7px;
}

#u648
{
	z-index: 9;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u655
{
	z-index: 11;
	width: 205px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u665
{
	z-index: 40;
	width: 210px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u669
{
	z-index: 44;
	width: 205px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 112px;
}

#u665_img,#u669_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#pu663
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 11px;
}

#u663
{
	z-index: 38;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u667
{
	z-index: 42;
	width: 204px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#pu665,#pu744
{
	width: 0.01px;
	margin-top: 7px;
}

#u744
{
	z-index: 46;
	width: 208px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u746
{
	z-index: 48;
	width: 205px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 111px;
}

#u2377
{
	z-index: 4;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 334px;
	left: 321px;
}

#u658-25
{
	z-index: 13;
	width: 365px;
	min-height: 696px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 363px;
}

#u658-2
{
	font-size: 18px;
	line-height: 23px;
	padding-bottom: 6px;
}

#u658-8,#u658-14
{
	font-size: 15px;
	line-height: 19px;
	padding-bottom: 18px;
}

#u658-10,#u658-16
{
	font-size: 15px;
	line-height: 19px;
	padding-bottom: 6px;
}

#u658-4,#u658-6,#u658-12,#u658-18,#u658-20
{
	font-size: 15px;
	line-height: 19px;
	padding-bottom: 10px;
}

#u658-22
{
	font-size: 15px;
	line-height: 19px;
}

#u658-23
{
	font-size: 14px;
}

#pu990-4
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 16px;
}

#u990-4
{
	z-index: 50;
	width: 456px;
	min-height: 21px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u991-4
{
	z-index: 54;
	width: 304px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 472px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

